<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.navigator.repository.RouteRepository">

    <insert id="saveRoute" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO route (total_time)
        VALUES (#{totalTime});
    </insert>

    <resultMap id="RouteResultMap" type="com.solvd.navigator.domain.Route">
        <id     property="id"        column="id"/>
        <result property="totalTime" column="total_time"/>
    </resultMap>

    <select id="findById" resultMap="RouteResultMap">
        SELECT id, total_time
        FROM route
        WHERE id = #{id};
    </select>

</mapper>
